body {
  display: flex;
}

.box {
  background: rebeccapurple;
  width: 200px;
  height: 200px;
  margin: 30px;
}

.main { 
  flex-grow: 1;
}

.sidebar {
  width: 30%;
  border-left: 1px solid black;
}

.main, .sidebar {
  container-type: inline-size;
}

@container (  width >= 400px  ) { 
.box {
  background: red;
}

}
 /* in @main can include: orientation: portrait . min-aspect-ratio: 12/3. the background shall change to red only when this ratio is applied. min-width: 200px. width . 300px implies box shall only go red at this condition */