/* h2 {
  background-color: pink;
} */
h3{color: rgb(7, 98, 111)} 

mark { color: green;
font-family: courier;
font-size: 160%; }
p {
  border: 2px solid powderblue;
  padding: 30px;
}
pre {
  border: 2px solid powderblue;
  margin: 50px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(194, 25, 25);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(64, 0, 255);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline; }

  #C4 {
    color:blueviolet;
    background-color: aquamarine;

  }

  #frstid {
    color: yellow;
  background-color: blue;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
   th {
    
    text-align: left;
    padding: 6px;
    background-color: #0fa042
    border: 5px solid black;
  }

  td {
    text-align: left;
    padding: 9px;
    background-color: #9b1035 /* doesnt work = dow */
    border: 1px solid black;
  }
  
  tr:nth-child(even) {
    background-color: #2e2a7f;
    border: 1px solid black;
  }

  /* a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
} /
